<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="container">
        <h1>{{thisItem.name}}</h1>
        <p class="lead">Yummm</p>
      </div>

      <img src="{{thisItem.image}}" width="100%"/></a>
    </div>

    <div class="col-sm-12 col-xs-12">
      <form id="checkout" method="post" action="/purchases">
        <md-content layout-padding layout-sm="column">
          <input type="hidden" id="lat" name="lat" value="{{position.latitude}}">
          <input type="hidden" id="lon" name="lon" value="{{position.longitude}}">
          <input type="hidden" name="order" value="icecream">
          <input type="hidden" name="id" ng-model="thisItem.id">
          <md-input-container>

            <md-select placeholder="Quantity" ng-model="quantity" ng-change="total=quantity*thisItem.price">
              <md-option value="1" selected>1</md-option>
              <md-option value="2">2</md-option>
              <md-option value="3">3</md-option>
              <md-option value="4">4</md-option>
              <md-option value="5">5</md-option>
              <md-option value="6">6</md-option>
              <md-option value="7">7</md-option>
              <md-option value="8">8</md-option>
              <md-option value="9">9</md-option>
              <md-option value="10">10</md-option>
              <md-option value="100">100</md-option>
            </md-select>

            <label>Total order value: £{{total}}</label>
          </md-input-container>
          <input id="totalAmount" name="amount" ng-model="total">
          <div id="dropin"></div>
          <md-button class="md-button md-accent md-raised btn-lg pull-right" id="buy" type="submit" value="Pay" ng-disabled="!enablePay">Buy</md-button>

          <!-- <md-button ng-show="(sumCategory[0]-sumCategory[1]) < 0" ng-click="submitInput(selectedIndex);" ng-href="../as/IEValidate.action" class="md-accent md-raised btn-lg pull-right">Submit</md-button>

          <md-button> -->
        </md-content>
      </form>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>© 2015 ParkCafe</p>
    <a href="https://github.com/tallstreet/parkcafe/issues?state=open">Issues</a></p>
  </div>
</footer>
