<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <div class="container">
        <h1>{{thisItem.name}}</h1>
        <p class="lead">Yummm</p>
      </div>

      <img src="{{thisItem.image}}" width="100%"/></a>
    </div>

    <div class="col-sm-6 col-xs-12">
      <form id="checkout" method="post" action="/purchases">
        <md-content md-theme="docs-dark" layout-padding layout-sm="column">
          <input type="hidden" id="lat" name="lat" value="{{position.latitude}}">
          <input type="hidden" id="lon" name="lon" value="{{position.longitude}}">
          <input type="hidden" name="order" value="icecream">
          <input type="hidden" name="id" ng-model="thisItem.id">
          <md-input-container>
            <label>Total order value: £{{thisItem.price}}</label>
          </md-input-container>
          <input type="hidden" name="amount" ng-model="this.price">
          <div id="dropin"></div>
          <input class="md-button md-accent md-raised btn-lg pull-right" id="buy" type="submit" value="Pay" ng-disabled="!enablePay">

          <!-- <md-button ng-show="(sumCategory[0]-sumCategory[1]) < 0" ng-click="submitInput(selectedIndex);" ng-href="../as/IEValidate.action" class="md-accent md-raised btn-lg pull-right">Submit</md-button>

          <md-button> -->
        </md-content>
      </form>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>© 2015 ParkCafe</p>
    <a href="https://github.com/tallstreet/parkcafe/issues?state=open">Issues</a></p>
  </div>
</footer>
